# Datatyper
Programmering handlar endast om en sak - utbytet av data mellan människor, program och datorer. Alla programmeringsspråk är byggda för att hantera information, data, av olika typer. Det finns därför ett antal vanligt förekommande s.k. *datatyper* (eng. *types*) som har olika egenskaper. 

## Syftet med datatyper
Det huvudsakliga syftet med datatyper är att de skall på ett träffsäkert sätt beskriva och avbilda verkliga exempel på data. Man kan tänka sig många verkliga exempel på typer - mitt husdjur Heidi är en *katt*, som är ett exempel på ett *däggdjur*, o.s.v. Dessa är alla typer, som är viktiga att vara medveten om, säg när man går till veterinären eller ska köpa mat. Rätt mat till rätt djur. 

Skillnaden mellan *typ* och *klass* eller *kategori* är ofta hårfin, och många gånger är de i praktiken samma sak. I programmeringssammanhang så är dock typer tämligen väldefinerade. De är också produktiva, i den bemärkelsen att nya typer kan tillkomma och programmeras.

I Python så kan man dock prata om följande grundläggande datatyper:
- Heltal (*integer*, *int*)
- Flyttal (*float*)
- Sträng (*string*)
- Boolean (*boolean*, *bool*)
- Lista (*list*)
- Tupel (*tuple*)
- Lexikon (*dictionary*, *dict*)

## Abstraktion
Ett vanligt begrepp inom programmering är vad som kallas *abstraktion*, en metod för att generalisera egenskaper hos det program, modell eller data som man behandlar. I vårt första exempel så har vi en så kallad *instans* av en **katt**. Instanser är alltså ett fall av säg en katt, men inte alla katter är just min Heidi.

**katt** utgör alltså en abstraktion av min Heidi. De har alla liknande egenskaper, såsom fyra ben, morrhår och liknande genetik. En vidare abstraktion är **däggdjur**, djur som föder levande ungar, men man behöver inte nödvändigtvis gå åt släktskapshållet. En annan abstraktion är **fyrfota djur** eller **pälsdjur**. Det är ju då värt att notera att inte alla katter föds med päls, så denna typ är kanske inte abstrakt nog att fånga variationen hos katter. Katter föds dock vanligtvis med fyra ben.

Hittills har vi dock gjort *modellering* endast av data med fysiska referenter. Inom programmering är detta relativt ovanligt, åtminstone jämfört med att arbeta med *metadata* (data om data). Betrakta en katt. Den har följande relevanta metadata:

| Antal ben | Vikt | Namn | Chippad? |
| --- | --- | --- | --- |
| 4 | 2.1 | "Heidi" | sant |

Om vi vill spara information om denna använder vi oss av ett antal olika datatyper. *Heltal* (eng. *integers*) används för uppräkneliga ting, som du kan räkna på fingrarna. En katt har exempelvis 4 ben. Antal ben har alltså typen **heltal**. Observera att benen själva kan ha en annan typ, men vi är intresserade av abstraktionen "antal".

Vikt å andra sidan är strikt inte uppräknelig. Du kan med lätthet vara väga 60 kg, men också 60.4 kg, eller 60 kilogram, 400 gram och 11 milligram desto noggrannare du vill vara. Vikt är typiskt inte uppräknelig, med högre noggrannhet kan du gå från 19 -> 19.4 -> 19.41 -> 19.412, o.s.v.. Vikt brukar därför sägas ha typen **flyttal** (eng. *float*), som är döpt efter att decimalpunkten sägs *flyta* längs talet.

Därefter har vi namnet, som ju varken beskrivs väl av heltal eller flyttal. Namnet har typen **sträng** (eng. *string*), och beskriver en följd av karaktärer/bokstäver, det vill säga text. 

Slutligen har vi påståendet om katten är chippad eller ej. Detta påstående är antingen *sant* eller *falskt*. Det är karaktäristiskt för vad som kallas *booleaner* (eng. *booleans*). Det finns inget utrymme för tvetydighet hos värdet på en boolean - en instans är antingen sann eller falsk, exempelvis om en artikel är publicerad eller ej. 

### Fördjupning
Varför göra skillnad på uppräkneligt och ouppräkneligt? Detta grundar sig i datorers konstruktion. Att ständigt hålla reda på antalet decimaler efter decimalpunkten kräver tekniskt mer lagringsutrymme än för ett heltal. Du kan också alltid vara säker på att ingen lagt in att de har 2.5 barn i sin databas.

## Operatorer: Att arbeta med datatyper
Datatyper fyller som sagt olika syften. Utöver att de *modellerar* olika saker, så *opererar* de också olika. Programmering handlar i grunden om en sak - att transformera, kommunicera och göra beräkningar med data. Alla typer av operationer kan inte göras med alla datatyper.

De mest grundläggande operationerna är fyra räknesätten: + - * /. Dessa fungerar väldigt olika, om de fungerar alls, för olika datatyper. För heltal och flyttal fungerar de som förväntat.

Markera en cell nedan och klicka på **Run** högst upp i notebookens verktygslåda. Då kommer Python att köra nedan kod.

In [4]:
1+1

2

In [5]:
3-60.4

-57.4

In [6]:
7/10

0.7

Python har en inbyggd *funktion* för att avgöra vilken typ ett värde har, nämligen *type*. Detta kan vara smidigt om man är osäker på typen av ett värde, eller måste se till att allt har samma typ:

In [1]:
type(0.7)

float

Observera att Jupyter automatiskt skriver ut värden som skrivs i en cell utan att man använder funktionen `print`. Detta är smidigt, men inte hur det vanligtvis fungerar i andra programmeringsmiljöer.

I praktiken är skillnaden mellan heltal och flyttal väldigt slapp i Python, och nästan all matematik kan genomföras helt utan att bry sig om heltal. Men vi kommer stöta på fall senare där skillnaden blir viktig, och dessa inte är utbytbara.

Observera dock att det är nu inkompatibla data kommer in i spelet - vad innebär det att addera ett heltal och ett namn?

In [7]:
10 + "Kreta"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Om man kör ovan kod så returnerar Python ett fel, ett så kallat *Error*. Den anger att addition inte har stöd för att lägga ihop heltal (int) och strängar (str). Detta stämmer också med vår intuition, hur det skulle fungera.

Betrakta dock att vi istället vill addera två strängar? Vad händer i detta fall? Jo, per definition så säger Python att dessa två strängar skall sättas ihop (*konkateneras*) i ordning:

In [8]:
"väst" + "sverige"

'västsverige'

På samma sätt fungerar multiplikation (som ju är upprepad addition):

Emellertid är inte övriga räknesätt väldefinierade för strängar:

In [14]:
3*"sverige"

'sverigesverigesverige'

In [9]:
"väst" - "sverige"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
"sverige" - "sverige"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
"väst"/"sverige"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [13]:
"väst"*"sverige"

TypeError: can't multiply sequence by non-int of type 'str'

Den sista typen kallas boolean, och representerar sant-falskt. Det är viktigt att booleaner endast kan ta dessa två värden (som skrivs **True** och **False**, med stor bokstav, i Python), inte *osäkert* eller *både sant och falskt*, vilket är samma sak i verkligheten. Om någonting är osäkert bör det representeras på ett annat sätt än med booleaner, som är binära.

Booleaner har uppsättningar med egna operatorer, nämligen ==, & (eller *and*), | (eller *or*) samt *not*.

Booleaner kan sammanfattas med följande tabeller:

## not
*not* inverterar ett sanningsvärde - *not True* blir alltså *False*, och *not False* är *True*.
<table>
  <tr>
    <th>not</th>
    <th>True</th>
    <th>False</th>
  </tr>
  <tr>
    <th></th>
    <td>False</td>
    <td>True</td>
  </tr>
</table>

## ==
*==* beräknar likhet mellan värden, och producerar antingen *True* eller *False*
<table>
  <tr>
    <th>==</th>
    <th>True</th>
    <th>False</th>
  </tr>
  <tr>
    <th>True</th>
    <td>True</td>
    <td>False</td>
  </tr>
  <tr>
    <th>False</th>
    <td>False</td>
    <td>True</td>
  </tr>
</table>

## and
*and*: Är sann om både vänsterled och högerled har värdet *True*, annars falsk
<table>
  <tr>
    <th>and</th>
    <th>True</th>
    <th>False</th>
  </tr>
  <tr>
    <th>True</th>
    <td>True</td>
    <td>False</td>
  </tr>
  <tr>
    <th>False</th>
    <td>False</td>
    <td>False</td>
  </tr>
</table>

## or
*or*: Är sann om antingen vänsterled eller högerled har värdet *True*, annars falsk
<table>
  <tr>
    <th>or</th>
    <th>True</th>
    <th>False</th>
  </tr>
  <tr>
    <th>True</th>
    <td>True</td>
    <td>True</td>
  </tr>
  <tr>
    <th>False</th>
    <td>True</td>
    <td>False</td>
  </tr>
</table>

In [17]:
True == True

True

In [18]:
True == False

False

In [19]:
False == False

True

In [20]:
True and True

True

In [21]:
True and False

False

In [22]:
False and False

False

In [23]:
False or True

True

# Övning
Ange 7 stycken egenskaper hos dig själv, samt ange värde och typ på dessa egenskaper. Försök använda heltal, flyttal, strängar och booleaner.